# =========================
# Project specific
# =========================
coverage/

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea/

# Visual Code
.vscode/

# =========================
# node.js
# =========================
node_modules/
package-lock.json

# =========================
# npm
# =========================
package-lock.json
npm-debug.log
*/.npm
